<br>
<br>
<div class="container">
  <div class="d-flex justify-content-around">
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faIdCard'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Cédula</small>
        <p class="h6"><strong>{{empleado.cedula}}</strong></p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Nombres Completos</small>
        <p class="h6"><strong>{{empleado.nombre_completo }}</strong></p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faPhone'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Telefono</small>
        <p class="h6"><strong>{{empleado.telefono }}</strong></p>
      </div>
    </div>

  </div>
  <hr>
  <div class="d-flex justify-content-around">
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faEnvelope'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Correo</small>
        <p class="h6"><strong>{{empleado.correo}}</strong></p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faMapMarked'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Lugar de nacimiento</small>
        <p class="h6"><strong>{{empleado.lugar_nacimiento}}</strong></p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faHeart'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Estado Civil</small>
        <p class="h6"><strong>{{empleado.estado_civil}}</strong></p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faBuilding'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Area de Trabajo</small>
        <p class="h6"><strong>{{empleado.area_trabajo}}</strong></p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <fa-icon class="mr-3 fa-2x" [icon]='faGenderless'></fa-icon>
      </div>
      <div class="media-body">
        <small class="media-heading">Sexo</small>
        <p class="h6"><strong>{{empleado.sexo}}</strong></p>
      </div>
    </div>
  </div>
  <hr>
  <br>
</div>
