<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="toolbar" role="banner">

  <nav class="navbar is-dark"><span><a routerLink="/">Inicio</a></span>&nbsp;|&nbsp;
<span><a routerLink="/Empleado">Empleados</a></span>&nbsp;|&nbsp;
</nav>
<div class="spacer"></div>

</div>

<div class="content" role="main"></div>

<h1>{{ title }}</h1>



<!-- Selector del componente de alumno -->
<div class="container">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>    
</div>


<!-- Footer -->
<footer>
    Certificación I - NRC - 7614&nbsp;
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




